header {
  font-size: 50px;
  text-align: center;
  background-color: aqua;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.headshot{
    padding: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;

}
.card {
  align-items: center;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 60px; 
  padding: 20px;
}
.contact {
    padding: 10px;
    float: left;
}


@media only screen and (max-width: 1024px) {

    #build, #genre {
        height: 300px;
    }

    #genre {
        margin-left: 60px;
    }

    .inputLogin, .loginBtn {
        width: 180px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 823px) {
    footer {
        bottom: 20px;
    }

    .homeLink {
        font-size: 18px;
        margin-right: 15px;
        margin-left: 0px;
    }

    .login-form, .signup-form {
        margin-top: 0px;
        font-size: 18px;
        padding: 0px;
    }

    .inputLogin, .loginBtn {
        width: 140px;
        margin-top: 10px;
    }

    #build {
        margin-left: 20px;
        height: 200px;
    }

    #genre {
        margin-top: 60px;
        height: 200px;
    }
}
@media only screen and (max-width: 812px) {
    h2 {
        font-size: 26px;
    }

    #build {
        margin-left: 30px;
    }

    #genre {
        margin-left: 80px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
   
    .homeLink {
        margin-right: 5px;
    }

    .inputLogin {
        margin-left: 0px;
        width: 140px;
        margin-top: 0px;
    }
    .loginBtn {
        margin-left: 0px;
        margin-top: 10px;
    }

    footer {
        bottom: 30px;
    }

    #build {
        margin-left: 80px;
    }

    #genre {
        margin-left: 80px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 736px) {
    header {
        font-size: 46px;
    }

    .homeLink {
        font-size: 16px;
        float: left;
        margin-left: 14px;
    }

    .login-form {
        margin-bottom: 10px;
    }

    .inputLogin, .loginBtn {
        width: 200px;
    }

    #build {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        height: 300px;
        
    }

    #genre {
        height: 300px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 100px;
        
    }
}

@media only screen and (max-width: 720px) {
    
}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 568px) {


}

@media only screen and (max-width: 540px) {
   
}

@media only screen and (max-width: 414px) {
    body {
        background-size: cover;
        height: 110vh;
    }

    #reel2 {
        height: 50px;
        margin-right: 0px;
    }

    #build {
        margin-left: 20px;
    }
   
    #genre {
        margin-left: 20px;
        margin-top: 20px;
    }

    h2 {
        margin-left: 40px;
    }

    .login-form, .signup-form {
        margin-left: 50px;
    }

    .inputLogin, .loginBtn {
        width: 190px;
    }

    .loginBtn {
        margin-right: 10px;
    }

    footer {
        font-size: 14px;
    }

    #search-artist {
        width: 150px;
    }

    #searchBtn {
        margin-left: 5px;
        width: 150px;
        font-size: 13px;
        height: 36px;
        padding: 5px;
    }
}

@media only screen and (max-width: 411px) {
    
}

@media only screen and (max-width: 375px) {

    .inputLogin, .loginBtn {
        width: 160px;
    }

    .new-record {
       width: 360px;
       margin-left: 0px;
    }

    #search-artist {
        width: 130px;
    }
}

@media only screen and (max-width: 360px) {
    header {
        font-size: 38px;
    }
    #build, #genre {
        height: 280px;
    } 
    
    .inputLogin, .loginBtn {
        width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    .homeLink {
        font-size: 15px;
        margin-left: 10px;
    }

    #build, #genre {
        height: 260px;
    } 

    .signup-form, .login-form {
        font-size: 14px;
    }
   
    .inputLogin, .loginBtn {
        width: 120px;
    }

    #search-artist {
        width: 200px;
        margin-left: 20px;
    }
    #searchBtn {
        width: 200px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .new-record {
        width: 300px;
    }

    .crate-button {
        width: 126px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 280px) {
    header {
        font-size: 34px;
    }
    .homeLink {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 0px;
    }

    #build, #genre {
        height: 240px;
    }

    footer {
        font-size: 12px;
        bottom: 0px;
    }

    .inputLogin, .loginBtn {
        width: 100px;
    }
}
